<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>        
    </testsuites>
<!-- Контейнер, указывающий, какие исходные файлы участвуют в расчёте покрытия и анализе кода -->
    <source>
<!-- Включает в отчёт покрытия только PHP-файлы из директории app/Geocoder (и подпапки)
Атрибут suffix=".php" гарантирует, что учитываются только файлы с расширением .php. -->
        <include>
            <directory suffix=".php">app/Geocoder</directory>
        </include>
<!-- Явно исключает из расчёта покрытия директории -->
        <exclude>
            <directory>app/Geocoder/Domain/Exceptions</directory>
            <directory>app/Geocoder/Application/Exceptions</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="tests/coverage"/>
            <clover outputFile="tests/coverage/clover.xml"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="LOG_CHANNEL" value="null"/>
        <env name="LOG_STACK" value="null"/>
        <env name="APP_FALLBACK_LOCALE" value="en"/>
    </php>
</phpunit>
